@inherits LayoutComponentBase
@inject CustomAuthStateProvider AppStateProvider

<AuthorizeView Roles="User, SystemAdmin">
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>
            <main>
                <div class="top-row px-4">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle d-flex align-items-center" type="button" id="dropdownUserMenu" data-bs-toggle="dropdown" aria-expanded="false">
                            <ion-icon class="fs-4 me-2" name="person-outline"></ion-icon>
                            @context.User.Claims.FirstOrDefault(role => role.Type == System.Security.Claims.ClaimTypes.UserData)?.Value
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownUserMenu">
                            <li><a class="dropdown-item" href="/user/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/roles">Choose a Role</a></li>
                            <li><a class="dropdown-item" href="/user/settings">Settings</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="d-flex justify-content-center"><ButtonComponent Caption="Log out" Color="danger" Icon="log-out-outline" OnClick="@(() => AppStateProvider.SetTokenAsync(string.Empty))"></ButtonComponent> </li>
                        </ul>
                    </div>
                </div>
                <article class="content p-2">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
    <NotAuthorized>
        <Login />
    </NotAuthorized>
</AuthorizeView>
