@page "/user/resetpassword"
@layout PublicLayout
@using System.ComponentModel.DataAnnotations;
@inject HttpClient Http
@inject ModalManager Modal

<div class="row justify-content-center m-0 p-2">
    <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4 card p-0 mt-5">
        <div class="card-header">
            <h3 class="text-center my-2"> Reset Password </h3>
        </div>
        <div class="card-body p-4">
            <h4 class="text-center">
                Did you forget your password?
            </h4>
            <p class="text-center">
                Don't worry, it happens!
            </p>
            <p class="text-center">
                Write your email address and click on the button below to reset your
                password.
            </p>
            <p class="text-center">
                We'll send you an email to reset your password.
            </p>
            <EditForm Model="@Request" OnValidSubmit="@UserValidated">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div class="mb-3">
                    <label for="email">Email Address: </label>
                    <InputText class="form-control" id="email" @bind-Value="Request.Email" />
                </div>
                <div class="d-flex justify-content-center">
                    <ButtonComponent Caption="Send" Color="primary" IsBusy="@IsBusy" IsBusyCaption="Working on it..." Icon="refresh-sharp"></ButtonComponent>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    public EmailModel Request { get; set; } = new();
    private bool IsBusy = false;

    private async Task UserValidated()
    {
        IsBusy = true;
        ServerResponse<bool> response = await Http.PostAndGetServerResponseAsync<bool, EmailModel>("user/sendresetpasswordtoken", Request);
        await Modal.ShowMessageModalAsync("Task completed!", response.Success ? $"We sent an email to {Request.Email}." : response.ErrorMessage ?? "Unknown error.");
        Request = new();
        IsBusy = false;
    }
}