@page "/user/confirmemail/{UserId:guid}/{Token}"
@layout PublicLayout
@inject HttpClient Http

<div class="row justify-content-center m-0 p-2">
    @if (IsResponsed)
    {
        @if (IsSuccess)
        {
            <div class="alert alert-success d-flex align-items-center" role="alert">
                <ion-icon class="me-2 fs-1" name="checkmark-sharp"></ion-icon>
                Your e-mail confirmed.
            </div>
        }
        else
        {
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <ion-icon class="me-2 fs-1" name="close-circle-outline"></ion-icon>
                Wrong or invalid request.
            </div>
        }
    }
    else
    {
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <div class="spinner-border me-2"></div>
            Please wait... We are working on it...
        </div>
    }
</div>

@code {
    [Parameter] public Guid UserId { get; set; }
    [Parameter] public string? Token { get; set; }
    [Parameter] public bool IsSuccess { get; set; } = false;
    [Parameter] public bool IsResponsed { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        if (UserId == Guid.Empty || string.IsNullOrEmpty(Token)){
            IsResponsed = true;
            IsSuccess = false;
            return;
        }
        ConfirmEmailModel confirmEmailModel = new() { UserId = UserId, Token = Token };
        ServerResponse<bool> result = await Http.PostAndGetServerResponseAsync<bool, ConfirmEmailModel>("user/confirmemail", confirmEmailModel);
        IsSuccess = result.Success;
        IsResponsed = true;
    }
}

