@page "/user/profile"
@layout MainLayout
@inject HttpClient Http
@inject ModalManager Modal

<PageTitle> IoMI - Profile </PageTitle>


<div class="row justify-content-around">
    <UpdateProfile />
</div>
