@page "/user/settings"
@layout MainLayout

<PageTitle> IoMI - Settings </PageTitle>

<h3 class="m-0 text-center"> User Settings </h3>

<div class="row justify-content-around">
    <ChangePasswordComponent />
</div>

@code {

}
