@page "/user/settings"
@layout MainLayout

<PageTitle> IoMI - Settings </PageTitle>

<h3> User Settings </h3>

<CollapsableComponent Title="Change Password">
    <div class="d-flex justify-content-center">
        <ChangePasswordComponent />
    </div>
</CollapsableComponent>

@code {

}
