@page "/inspectorpanel/settings"
@layout InspectorLayout

<h3 class="m-0 text-center">Settings</h3>

<div class="row justify-content-around">
    <ChangePasswordComponent />
    <UpdateProfile />
</div>
